---

version: "3.7"

services:
  palworld-dedicated-server:
    image: '{{ palworld_dedicated_server_image_uri }}:{{ palworld_dedicated_server_image_tag }}'
    pull_policy: "{{ palworld_dedicated_server_image_pull_policy }}"
    restart: always
{% if palworld_dedicated_server_container_name %}
    container_name: '{{ palworld_dedicated_server_container_name }}'
{% endif %}
    volumes:
      - type: bind
        source: ./data
        target: /palworld
        read_only: false
    ports:
      - published: {{ palworld_dedicated_server_public_port }}
        target: 8211
        protocol: udp
        mode: host
{% if palworld_dedicated_server_rcon_enable %}
      - published: {{ palworld_dedicated_server_rcon_bind_address }}:{{ palworld_dedicated_server_public_port }}
        target: 25575
        protocol: tcp
        mode: host
{% endif %}
    environment:
        - TZ={{ palworld_dedicated_server_container_timezone }}
        - PUID={{ palworld_dedicated_server_temp_user_uid }}
        - PGID={{ palworld_dedicated_server_temp_user_gid }}
{% for key, value in palworld_dedicated_server_settings.items() %}
{% if key not in ["TZ", "PUID", "PGID"] %}
{% if value is boolean %}
        - {{ key }}={{ value | string | lower }}
{% elif value is float %}
        - {{ key }}={{ '%0.6f' | format(value) }}
{% else %}
        - {{ key }}={{ value }}
{% endif %}
{% endif %}
{% endfor %}
